.App {
  text-align: center;
}

.App-header {
  width:100%;
  padding: 25px; 
  color: black;
  box-shadow: 0px 2px 6px #e1dede
}

.img-header {
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  position: absolute;
  top:0;
  left: 0;
}

.Menu-header {
  background: #fff;
  position: relative;

}

.App-title {
  font-size: 1.5em;
}

.App-logo {
    float: left;
    width: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
}
/* .App-logo {
  padding: 1%;
  float: left;
  height: 120px;
  margin: 1%;
} */
.App-intro {
  font-size: large;
}

.botao {
  color: red !important;
  border-color: red !important;
  padding: 10px !important;
}

.botao-header {
  margin-top: -10px;
}

.navbar-right {
  display: inline-flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: gray;
}
.navbar-right, li{
  padding-right: 25px; 
  font-size: 13px;
  font-weight: bold;
  top: 70px;
  position: relative;
}
.navbar-right li a {
  padding-right: 25px; 
}

ul {
  list-style-type: none;
}
#btn-bars {
  display: none;
}
.App-footer {
  background: #E6E6E6;
  height: 400px;
  margin-bottom: 12px;
}

.App-footer-elements {
   padding: 100px;
}

.navbar-down {
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: gray;
}

.navbar-down , li{
  top: 10px;
  font-size: 13px;
}

.titulo-footer {
  color: gray;
  font-size: 15px;
  font-weight: bold;
  padding-left: 50px;
}

.App-logo-footer {
  padding: 15px;
  float: left;
  height: 150px;
  margin: 20px 9px;
}

#fb-img {
  width: 50px;
  margin-left: 50px;
}

#box-novidades {
  background: red;
  height: 100px;
  margin: 7px 100px 0 100px;
}

#box-vermelho {
  padding-top: 50px;
  top: 45px;
  position: relative; 
}

.titulo-box {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding-left: 50px;
  padding-bottom: 15px;
}

.botao-box {
  color: white !important; 
  border-color: white !important;
  border: 3px solid !important; 
  border-radius: 1px !important; 
  background-color: red !important;
  padding: 10px !important;
}

.box-elements{
  padding-top: 35px;
}

#receita-topo {
  margin: 120px 120px -30px 120px;
}

.img-receita{
  width: 515px;
}

#compartilhe {
  margin-top: 70px;
}

#compartilhe a {
   margin-right: 20px;
}

.img-icones-receita {
  width: 100%;
}

.linha {
  border-top: 4px solid #eee;
}
.linha-footer {
   display: none; 
  /* border-top: 4px solid #eee; */
}
.social-media a {
  margin-top: 10px;
  margin-left: 50px;
}
.social {
  display: inline-flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: gray;
}
.social, li{
  padding-right: 25px; 
  /* font-size: 33px; */
  position: relative;
}

#receita-data {
  font-size: 20px;
  color:#373737;
}

#receita-titulo {
  font-size: 30px;
  color: #ee3a43;
  padding-top: 10px;
  padding-bottom: 25px;
  line-height: 1;
}

.inf-receita-titulo {
  font-weight: bold;
}

.inf-receita-subtitulo {

}

#receita-ingredientes-icones {
  padding-top: 30px;
  margin-bottom: 30px;
}

.receita-ingredientes {
  margin-bottom: 100px;
}

.receita-preparo-titulo {
  font-size: 15px;
  font-weight: bold;
  color: #ee3a43;
}

.receita-passos li {
  font-weight: normal;
  margin-left: 20px;
  padding-bottom: 15px;
  list-style-type: circle;
  padding-left: 5px;
}

.receita-passos ul {
  padding-left: 50px
}

#receita-passo-inicial {
  padding-bottom: 30px;
}

.receita-meio {
   margin: 15px 120px 20px 120px; 
}

.receita-formulario {
  margin-top: 30px;
  transition: 1s;
}

.receita-formulario label{
  color: gray;
}

.localizacao-site {
  float: right;
  padding-top: 15px;
  color: gray;
  margin-right: 250px;
  margin-top:10px
}

.img-ver-tambem {
  width: 218px;
}

.img-footer {
  width: 70px;
  
}

h5 {
  color: gray;
  margin: 20px 40px 8px !important; 
}

.lista-img-footer {
  display: inline-flex;
  float: right;
  margin-top: -25px;
}

.hidden { 
  display:none; 
}
